In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
sms_df = pd.read_csv('spam.csv',encoding='latin-1')

In [3]:
sms_df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
sms_df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
sms_df_1 = sms_df.where(pd.notnull(sms_df)),''

In [6]:
sms_df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
sms_df.shape

(5572, 5)

In [13]:
sms_df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

     Category                                                SMS
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [14]:
sms_df.rename(columns={'v1': 'Category'}, inplace=True)

In [15]:
sms_df.rename(columns={'v2': 'SMS'}, inplace=True)

In [16]:
sms_df

,Category,SMS,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [20]:
sms_data =sms_df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

In [21]:
sms_data

     Category                                                SMS
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [26]:
sms_data.loc[sms_data['Category'] == 'spam', 'Category'] = 0
sms_data.loc[sms_data['Category'] == 'ham', 'Category'] = 1

In [27]:
x= sms_data['SMS']
y = sms_data['Category']

In [28]:
print(x)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: SMS, Length: 5572, dtype: object

In [29]:
print(y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3 , random_state=3)

In [31]:
#Feature extraction using TfIdf vectorizer

In [33]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english',lowercase=True)

In [34]:
x_train_features= feature_extraction.fit_transform(x_train)
x_test_features= feature_extraction.transform(x_test)

In [60]:
print(x_train_features)

  (0, 961)	0.2367127977833716
  (0, 1607)	0.18861186533389185
  (0, 2559)	0.21430735473994622
  (0, 2633)	0.21929015546948943
  (0, 2681)	0.24758900091128513
  (0, 2760)	0.13852162394600592
  (0, 2881)	0.11925240540929821
  (0, 3154)	0.27720738554878777
  (0, 3161)	0.1545211520402899
  (0, 3364)	0.09443841340305507
  (0, 3555)	0.20120101074749866
  (0, 3590)	0.12205389341284857
  (0, 4044)	0.27720738554878777
  (0, 4496)	0.11346081166695664
  (0, 4627)	0.2416955985129148
  (0, 4628)	0.11690051592035242
  (0, 5321)	0.1510791564264645
  (0, 5619)	0.19969728745478493
  (0, 5746)	0.24758900091128513
  (0, 6039)	0.15380280644293232
  (0, 6124)	0.2416955985129148
  (0, 6125)	0.27720738554878777
  (0, 6435)	0.07083821336388878
  (0, 6583)	0.14709102560967013
  (0, 6662)	0.12646534700337544
  :	:
  (3898, 2628)	0.2534764821822443
  (3898, 3111)	0.23892847481705456
  (3898, 3477)	0.1141704307294276
  (3898, 3590)	0.1331250324792547
  (3898, 4046)	0.2391813014150309
  (3898, 4072)	0.10883264636551551
  (3898, 4293)	0.17015856064350976
  (3898, 4323)	0.11349886273269985
  (3898, 4570)	0.28069063254544496
  (3898, 5858)	0.17185798617992945
  (3898, 6078)	0.20144154730306757
  (3898, 6141)	0.3023520280491671
  (3898, 6328)	0.14852551548549878
  (3898, 6333)	0.14966659417090666
  (3898, 6435)	0.15452746636998863
  (3898, 6470)	0.17504458959247055
  (3898, 6858)	0.15206590434450337
  (3898, 7061)	0.2269013121941917
  (3898, 7105)	0.23635929539673456
  (3898, 7156)	0.07934724573354592
  (3899, 1323)	0.4247085172126275
  (3899, 4346)	0.46565484176784616
  (3899, 5854)	0.5066011663230648
  (3899, 5874)	0.5066011663230648
  (3899, 6962)	0.29916343410489593

In [62]:
print(x_test_features)

  (0, 1469)	0.6081335482437122
  (0, 3364)	0.23761776294919845
  (0, 4089)	0.46705600049957935
  (0, 5748)	0.4772356952605448
  (0, 6976)	0.30710144386079624
  (0, 7156)	0.18304336365098461
  (1, 1)	0.19982193146277585
  (1, 39)	0.22772876179557167
  (1, 297)	0.26118843313665013
  (1, 486)	0.18550735740795454
  (1, 557)	0.26118843313665013
  (1, 911)	0.14491502074276041
  (1, 1096)	0.13998203343115198
  (1, 1183)	0.14808674827931564
  (1, 1475)	0.10082753338702617
  (1, 1497)	0.10951066947287513
  (1, 2717)	0.09733663650652688
  (1, 2760)	0.13051689024221158
  (1, 3111)	0.10319982698949844
  (1, 3152)	0.34464783347226435
  (1, 3213)	0.26118843313665013
  (1, 3852)	0.23328160280385427
  (1, 4628)	0.11014519878558261
  (1, 5034)	0.26118843313665013
  (1, 5120)	0.24883946398938023
  :	:
  (1670, 4484)	0.0893423391134774
  (1670, 4594)	0.11110901414771356
  (1670, 4663)	0.09852066518155156
  (1670, 5566)	0.11334324476077619
  (1670, 6400)	0.31065681649736687
  (1670, 6404)	0.15532840824868344
  (1670, 6435)	0.2691106237116823
  (1670, 6504)	0.18811550234086968
  (1670, 6848)	0.20066117605490666
  (1670, 6858)	0.10592951874445036
  (1670, 7156)	0.3316410311890922
  (1671, 2135)	0.37465332126031586
  (1671, 3014)	0.22540794699127045
  (1671, 3483)	0.23335822732923314
  (1671, 3801)	0.23265020024280897
  (1671, 3845)	0.22479432560831242
  (1671, 3925)	0.22540794699127045
  (1671, 4484)	0.20089749933538575
  (1671, 4676)	0.29809472123965897
  (1671, 4762)	0.3437483399840575
  (1671, 5844)	0.19615828460064902
  (1671, 6470)	0.27418964806814405
  (1671, 6881)	0.20852690100007057
  (1671, 7156)	0.1242894363859466
  (1671, 7170)	0.4230013942045946

In [35]:
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [36]:
#training

In [37]:
model =LogisticRegression()

In [42]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [44]:
lg = model.predict(x_test_features)

In [45]:
accuracy_score(y_test,lg)

0.9700956937799043

In [50]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(x_train_features,y_train)

RandomForestClassifier()

In [51]:
RF = model2.predict(x_test_features)
accuracy_score(RF,y_test)

0.9784688995215312

In [53]:
from sklearn import svm

In [54]:
svm = svm.SVC()

In [56]:
svm.fit(x_train_features,y_train)

SVC()

In [58]:
SVM = svm.predict(x_test_features)
accuracy_score(SVM,y_test)

0.9826555023923444

In [66]:
print("Accuracy scores found using various models are as follows:")
print("Accuracy score found using LogisticRegression -",accuracy_score(y_test,lg))
print("Accuracy score found using RandomForestClassifier -",accuracy_score(RF,y_test))
print("Accuracy score found using SVM -",accuracy_score(SVM,y_test))

Accuracy scores found using various models are as follows:
Accuracy score found using LogisticRegression - 0.9700956937799043
Accuracy score found using RandomForestClassifier - 0.9784688995215312
Accuracy score found using SVM - 0.9826555023923444